<app-header></app-header>
<div class="main-page__carousel">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper height-carousel">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper height-carousel">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper height-carousel">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container px-5">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-4 mb-4" *ngFor="let cardType of cardTypes">
      <app-type-card [cardType]="cardType"></app-type-card>
    </div>
  </div>
</div>
<div class="row mt-4 main-page__button-catalog">
  <div class="mx-auto">
    <button onclick="location.href='/catalog'" class="btn btn-primary my-2 my-sm-0">Go to catalog</button>
  </div>

</div>
<app-footer></app-footer>
