<app-header></app-header>
<div class="container">
  <div class="page-header">Order History:</div>
  <div class="page-content mt-4">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number order</th>
        <th scope="col">Date creation</th>
        <th scope="col">Sum</th>
        <th scope="col">Payed</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row">{{order.num}}</th>
        <th scope="row">
          <a class="nav-link" href="/user/orders/{{order.id }}">{{ order.id }}</a>
        </th>
        <td>
          {{order.dateCreation}}
        </td>
        <td>{{ order.sum + order.volute}}</td>
        <td>{{ order.isPay ? 'yes' : 'no' }}</td>
        <td>{{ order.status}}</td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="refreshCountries()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="10">10 items per page</option>
      </select>
    </div>
  </div>

</div>
<app-footer></app-footer>
