<app-header></app-header>
<div class="container mb-5">
  <main *ngIf="resultCreation == null">
    <div class="py-4 text-center">
      <h2>Create order</h2>
      <p class="lead">Please check your order details carefully.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill text-white">{{cards.length}}</span>
        </h4>
        <ul class="list-group mb-3 ">
          <li *ngFor="let card of cards" class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{card.name}}</h6>
              <small class="text-muted">Count {{card.count}}</small>
            </div>
            <span class="text-muted">{{card.price.currentPrice + card.price.volute_symbol}}</span>
          </li>
          <!--<li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>-->
          <!--Todo в отдельную фичу-->
          <!-- <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li>-->
          <li class="list-group-item d-flex justify-content-between">
            <span>Total ({{cards[0].price.volute_symbol}})</span>
            <strong>{{this.totalSum + cards[0].price.volute_symbol}}</strong>
          </li>
        </ul>
        <!--Todo в отдельную фичу-->
        <!--<form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>-->
      </div>
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder=""
                     [(ngModel)]="order.firstName" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder=""
                     [(ngModel)]="order.lastName" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-12 mt-3">
              <label for="email" class="form-label">Email <span class="text-muted"></span></label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="order.email"
                     placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div class="col-12 mt-3">
              <label for="phone" class="form-label">Phone <span class="text-muted"></span></label>
              <input type="tel" id="phone" name="phone" [(ngModel)]="order.phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                     class="form-control"
                     placeholder="89771234545">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div class="col-12 mt-3">
              <label for="comment" class="form-label">Comment <span class="text-muted">(Optional)</span></label>
              <input type="text" id="comment" name="comment" [(ngModel)]="order.comment" class="form-control"
                     placeholder="Comment">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

          </div>

          <hr class="my-4">
          <h4 class="mb-3">Delivery</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="store" name="delivery" type="radio" class="form-check-input" required="" checked=""
                     (click)="collapseSet(true)" [value]="'store'" [(ngModel)]="order.delivery">
              <label class="form-check-label" for="store">Store</label>
            </div>
            <div class="form-check">
              <input id="home" name="delivery" type="radio" class="form-check-input" required=""
                     (click)="collapseSet(false)" [value]="'home'" [(ngModel)]="order.delivery">
              <label class="form-check-label" for="home">Home</label>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <div class="card">
                <div class="card-body">
                  <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="order.homeAddress"
                           placeholder="1234 Main St" required="">
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required=""
                     [value]="'credit_card'" [(ngModel)]="order.payment">
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required=""
                     [value]="'debit_card'" [(ngModel)]="order.payment">
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input id="cash" name="paymentMethod" type="radio" class="form-check-input" required="" [value]="'cash'"
                     [(ngModel)]="order.payment">
              <label class="form-check-label" for="cash">Cash</label>
            </div>
          </div>
          <div class=" d-none row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required="">
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required="">
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>

          <button (click)="createOrder()" class="w-100 btn btn-primary btn-lg" type="submit">Create order</button>
        </form>
      </div>
    </div>
  </main>
  <div *ngIf="resultCreation != null" class="d-flex block-message">
    <div class="block-message__text mx-auto my-auto d-flex flex-column">
      {{resultCreation}}
      <button onclick="location.href='/catalog'"
              class="prepare-order__button btn btn-outline-primary mt-4 px-2 w-50 mx-auto">
        Go to catalog
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
