<app-header></app-header>
<div class="container">
  <div>
    <div class="header-page d-flex justify-content-between">
      <div class="header-page__title">
        Catalog
      </div>
      <div class="header-page__controls">
        <!--Todo d-none - пока не будет реализована задача с поиском (делать отдельно от основной версии) -->
        <select class="custom-select d-none" id="country" required="">
          <option value="">Choose...</option>
          <option value="">By rating desc</option>
          <option value="">By rating asc</option>
          <option value="">By price asc</option>
          <option value="">By price desc</option>
        </select>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-3 mt-4" *ngFor="let cardType of typeCards">
        <app-type-card [cardType]="cardType"></app-type-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
