.empty-page {
  height: 58vh;
}

.message-not-found {
  font-family: Roboto;
  align-content: center;
  font-weight: lighter;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: rgba(21, 37, 54, 0.6);
}
