<app-header></app-header>
<div class="container">
  <div class="empty-page d-flex">
    <div class="message-empty mx-auto my-auto">
      <div class="d-flex flex-column my-auto">
        <div class="message-not-found mx-auto">
          404 ERROR
        </div>
        <div class="message-not-found mx-auto">
          Page not found
        </div>
        <div class="px-5 mx-auto">
          <button onclick="location.href='/'" class="not-found__button btn btn-outline-primary mt-3 px-2">Go to home
            page
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
