<app-header></app-header>
<div class="container">
  <div class="page-product">
    <div class="page-product__main-info">
      <div class="main-info__images-product">
        <div class="images-product__options-images">
          <div class="options-images__item">
            <img src="https://frankfurt.apollo.olxcdn.com/v1/files/dbfnm4ch913c3-KZ/image;s=261x203" alt=""
                 class="options-images">
          </div>
          <div class="options-images__item">
            <img src="https://frankfurt.apollo.olxcdn.com/v1/files/dbfnm4ch913c3-KZ/image;s=261x203" alt=""
                 class="options-images">
          </div>
        </div>
        <div class="images-product__main-image">
          <img src="{{product.photos[0]}}" alt="main_product_image" class="main-image__img">
        </div>
      </div>
      <div class="main-info__about-product">
        <div class="about-product__title">{{product.name}}</div>
        <div class="about-product__price">
          <div *ngIf="product.price.oldPrice > 0" class="old-price">{{product.price.oldPrice}}{{product.price.volute_symbol}}</div>
          <div class="current-price">{{product.price.currentPrice}}{{product.price.volute_symbol}}</div>
        </div>
        <div class="about-product__controls">
          <button (click)="addToCart()" mat-raised-button color="primary">Add to cart</button>
        </div>

      </div>
    </div>
    <div class="page-product__optional-info">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Description">{{product.description}}</mat-tab>
        <mat-tab label="Specifications">{{product.specifications}}</mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<app-footer></app-footer>
