.page-product {
  &__main-info {
    display: flex;
    flex-direction: row;
  }

  &__images-product {
    display: flex;
    flex-direction: row;
  }
}

.main-info__images-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60vw;
  height: 70vh;
}

.images-product__options-images {
 display: none;
}

.options-images__item {

}

.main-image__img {
  max-width: 100%;
  max-height: 60vh;
}

.options-images {
  width: 100px;
}

.images-product__main-image {
  margin-left: 0vw;
}

.main-info__about-product {
  margin-left: 3vw;
}

.about-product__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;

  /* Heading/Title Color */

  color: #152536;
}

.about-product__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.old-price {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-decoration-line: line-through;

  color: #959798;
}

.current-price {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;

  /* Heading/Title Color */

  color: #152536;
}

.about-product__controls {

}

.page-product__optional-info {
margin-top: 5vh;
}
