.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  border: 0;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  width: 24px;
}
.btn-circle:active {
  border: 0;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  color: brown;
}

.title-card__name {
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-stretch: normal;
}
.title-card__price {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 1;
}
.controls__count {
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 110px;
  height: 36px;
}
.font-old-price {
  color: #959798;
  text-decoration-line: line-through;
}
.price-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50px;
}
.shop-card-img {
  height: 200px;
  width: 100px;
}
