<div class="card mb-3" style="width: 45vw;">
  <div class="d-flex flex-row">
    <div class="col-md-4">
      <img class="img-thumbnail shopping shop-card-img" src="{{product.link}}" alt="...">
    </div>
    <div class="d-flex my-auto">
      <div class="card-body d-flex flex-row">
         <div class="col">
           <h5 class="card-title title-card__name">
             <a href="/product/{{product.id}}">{{product.name}}</a>
           </h5>
           <div class="product-price">
             <h5 *ngIf="product.price.oldPrice > 0" class="card-title title-card__price font-old-price">{{product.price.oldPrice}}{{product.price.volute_symbol}}</h5>
             <h5 class="card-title title-card__price">{{product.price.currentPrice}}{{product.price.volute_symbol}}</h5>
           </div>

         </div>
        <div class="col ml-5 my-auto">
          <div class="card-controls d-flex flex-row">
            <div class="controls__count d-flex flex-row">
              <button (click)="deleteProduct()" class="btn-circle">−</button>
              <div class="col">{{product.count}}</div>
              <button (click)="addProduct()" class="btn-circle">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
