<div class="card d-flex flex-column justify-content-end" style="width: 16rem; height: 22rem">
  <img style="height: 10rem" class="card-img-top" src="{{cardType.photo}}" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title font-weight-normal">{{cardType.name}}</h3>
    <p class="card-text">{{cardType.description}}</p>
    <a href="catalog/{{cardType.id}}/categories" class="btn btn-primary">See more...</a>
  </div>
</div>
