<app-header></app-header>
<div class="container">
  <!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    &lt;!&ndash;- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" &ndash;&gt;

    &lt;!&ndash; Position Column &ndash;&gt;
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    &lt;!&ndash; Name Column &ndash;&gt;
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    &lt;!&ndash; Weight Column &ndash;&gt;
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count </th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    &lt;!&ndash; Symbol Column &ndash;&gt;
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
      <div class="controls-block">
        <button (click)="addProduct(element.id)" mat-raised-button color="primary">Add</button>
        <button (click)="deleteProduct(element.id)" mat-raised-button color="accent">Remove</button>
      </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>-->
  <div *ngIf="dataSource.length >0">
    <div class="d-flex justify-content-between">
      <div class="col">
        <div class="row" *ngFor="let product of dataSource">
          <app-shopping-card [product]="product"></app-shopping-card>
        </div>
      </div>
      <div class="col">
        <div class="prepare-order ml-3 px-4 py-4">
          <div class="d-flex flex-row justify-content-between mt-3">
            <div class="prepare-order__name-field">Товаров:</div>
            <div class="prepare-order__value-field">{{orderSummary.sizeProducts}} шт</div>
          </div>
          <div class="d-flex flex-row justify-content-between mt-3">
            <div class="prepare-order__name-field">Сумма:</div>
            <div class="prepare-order__value-field">{{orderSummary.sumOfProducts}}{{orderSummary.volute_symbol}}</div>
          </div>
          <div class="d-flex flex-row justify-content-between mt-3">
            <div class="prepare-order__name-field">Скидка:</div>
            <div class="prepare-order__value-field">-{{orderSummary.sumDiscount}}{{orderSummary.volute_symbol}}</div>
          </div>
          <div class="d-flex flex-row justify-content-between mt-3">
            <div class="prepare-order__name-field">Итого:</div>
            <div class="prepare-order__value-field">{{orderSummary.sumFinish}}{{orderSummary.volute_symbol}}</div>
          </div>
          <button onclick="location.href='/create-order'"  [disabled]="!canCreateOrder" data-toggle="modal" data-target="#exampleModal" class="prepare-order__button btn btn-success mt-5"
                  mat-raised-button>Create order
          </button>
          <button class="prepare-order__button btn btn-primary mt-2" (click)="clearCart()" mat-raised-button>Clear
            cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-cart d-flex" *ngIf="dataSource.length == 0">
    <div class="message-empty mx-auto my-auto">
      <div class="d-flex flex-column">
        Your shopping cart is empty
        <div class="px-5">
          <button onclick="location.href='/catalog'" class="prepare-order__button btn btn-outline-primary mt-3 px-2">
            Go to catalog
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
