.table-shopping card {

}
table {
  width: 100%;
}
.prepare-order {
  width: 25vw;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.prepare-order__name-field {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.prepare-order__value-field {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.prepare-order__button {
  width: 100%;
}
.empty-cart {
  height: 58vh;
}
.message-empty {
  font-size: 24px;
}
