.page-header {
  width: 100%;
  background-color: #3F51B5;
  display: flex;
  flex-direction: row;
}
.logo-default {
  height: 2vh;
  width: 5vw;
  background: url("src/assets/images/Logo.png") no-repeat center ;
}
.page-header-left {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.page-header-right {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.logo-img {
  width: 25px;
}
.header-background {
  background-color: white;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 14px;
  background: #e51100;
  color: #fff;
  padding: 2px 5px;
  vertical-align: top;
  margin-left: -10px;
  margin-top: -6px;
}
.button-user-name {
  //color: #0c0c0c;
}
