<header class="p-3 mb-3 header-background border-bottom sticky-top">
  <div class="container ">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="header-left d-flex flex-wrap justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="logo-img" src="https://media.baamboozle.com/uploads/images/127444/1603531355_5302">
          <div class="ml-1">Yellow Duck</div>
        </a>
        <ul class="nav col-12 col-lg-auto  mb-1 justify-content-center mb-md-0 mx-3">
          <li><a href="/catalog" class="nav-link px-2 link-secondary">Catalog</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Promotions</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        </ul>
      </div>
      <div class="header-right d-flex flex-wrap justify-content-lg-end">
        <!--Todo d-none - пока не будет реализована задача с поиском (делать отдельно от основной версии) -->
        <div class="form-inline mt-2 mt-md-0 d-none">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
        <div class="shopping-cart ml-4">
          <div *ngIf="shoppingCartSize > 0">
            <a href="/shopping-cart" class="nav-link px-2 link-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4"
                   viewBox="0 0 16 16">
                <path
                  d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
              </svg>
              <span class='badge badge-warning' id='lblCartCount'> {{shoppingCartSize}} </span>
            </a>
          </div>
          <div *ngIf="shoppingCartSize == 0">
            <a href="/shopping-cart" class="nav-link px-2 link-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4"
                   viewBox="0 0 16 16">
                <path
                  d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
              </svg>
            </a>
          </div>
        </div>

        <div class="block-profile ml-3">
          <div *ngIf="user!= undefined" class="user-profile">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary border-0 button-user-name" id="dropdownBasic1" ngbDropdownToggle>
                <img src="{{user.photo}}" alt="mdo" width="32" height="32" class="rounded-circle"> {{user.firstName}}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button onclick="location.href='/user/profile'" ngbDropdownItem>Profile</button>
                <button onclick="location.href='/user/orders'" ngbDropdownItem>Orders</button>
                <div class="dropdown-divider"></div>
                <button (click)="logout()" ngbDropdownItem>Log Out</button>
              </div>
            </div>
          </div>
          <div *ngIf="user == undefined" class="sign-in">
            <button (click)="signIn()" class="btn btn-primary my-2 my-sm-0" type="submit">Sign In</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>
