<div class="card" style="width: 16rem; height: 22rem">
  <img style="height: 10rem" class="card-img-top" src="{{cardCategory.photo}}" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title font-weight-normal">{{cardCategory.name}}</h3>
    <p class="card-text">{{cardCategory.description}}</p>
    <a href="products/{{cardCategory.id}}" class="btn btn-primary">View Products</a>
  </div>
</div>
