<div class="card">
  <div class="card-body">
    <div class="card-img-actions">
      <img src="{{productCard.photos[0]}}"
           class="card-img img-fluid card-img-size" alt=""></div>
  </div>
  <div class="card-body bg-light text-center">
    <div class="mb-2 card-title-name">
      <a href="product/{{productCard.id}}" class="text-muted title-card__name" data-abc="true">{{productCard.name}}</a>
    </div>
    <div class="price-block">
      <h5 *ngIf="productCard.price.oldPrice > 0" class="mb-0 font-weight-semibold font-old-price">{{productCard.price.oldPrice}}{{productCard.price.volute_symbol}}</h5>
      <h3 class="mb-0 font-weight-semibold">{{productCard.price.currentPrice}}{{productCard.price.volute_symbol}}</h3>
    </div>
    <div>
      <i class="fa fa-star star">

      </i>
      <i class="fa fa-star star">

      </i>
      <i class="fa fa-star star">
      </i>
      <i class="fa fa-star star">

      </i>
    </div>
    <button (click)="addProductToCart()" type="button" class="btn bg-cart">
      Add to cart
    </button>
  </div>
</div>
