<app-header></app-header>
<div class="container page-user-profile d-flex">
  <div class="user-card my-auto mx-auto">
    <div class="user-card__photo d-flex">
      <img src="{{userProfile.photo}}" alt="avatar" class="user-avatar rounded-circle mx-auto">
    </div>
    <div class="user-card__text-info d-flex flex-column">
      <div class="user-card__main-info mx-auto mt-2">
        <div class="main-info__name">
          {{userProfile.firstName + ' ' + userProfile.lastName}}
        </div>
      </div>
      <div class="user-card__optional-info mx-auto mt-3">
        <div class="optional-info__name">
          Orders
        </div>
        <div class="optional-info__value mt-1">
          {{userProfile.countOrders}}
        </div>
      </div>
      <div class="user-card__controls d-flex flex-row mt-4">
        <button onclick="location.href='/user/profile/edit'" class="btn btn-primary w-50" type="submit">Edit</button>
        <button (click)="logout()" class="btn btn-dark w-50 ml-3" type="submit">Log Out</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
