.page-user-profile {
  min-height: 75vh;
}

.user-avatar {
  width: 300px;
  height: 300px;
}

.user-card__text-info {
  width: 440px;
  height: 250px;
  margin-top: -50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}

.main-info__name {
  font-size: 36px;
}

.optional-info__name {
  font-size: 16px;
  font-weight: normal;
  color: #383839;
  text-align: center;
}

.optional-info__value {
  font-size: 32px;
  font-weight: normal;
  color: #383839;
  text-align: center;
}
